<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vv.mapper.RoleAuthorityMapper" >
  <resultMap id="BaseResultMap" type="com.vv.entity.RoleAuthority" >
    <result column="AUTH_ID" property="authId" jdbcType="DECIMAL" />
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.vv.entity.RoleAuthority" >
    insert into TTRD_AUTH_ROLE_AUTHORITY (AUTH_ID, ROLE_ID, RESOURCE_ID
      )
    values (#{authId,jdbcType=DECIMAL}, #{roleId,jdbcType=DECIMAL}, #{resourceId,jdbcType=DECIMAL}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select AUTH_ID, ROLE_ID, RESOURCE_ID
    from TTRD_AUTH_ROLE_AUTHORITY
  </select>
</mapper>